Проверка подключения к БД...
Подключение к БД успешно!
Включение tcp-to-serial мостов...
Cервис tcp-to-serial-bridge-router1 запущен
Проверка сервиса tftp...
Сервис tftp включен
Проверка сервиса vsftp...
Сервис vsftp включен
Вход в Uboot устройства 1...
Инициализация SSD устойства 1...
Настройка Bootmenu устройства 1...
Установка ПО на устройство 1...
Вход для проведения проверок на устройство 1...
Проверка наличия HDD на устройстве 1...
Проверка наличия 2-х Flash накопителей на устройстве 1...
Проверка работоспособности портов на устройстве 1...
Создание протокола проверки изделия для устройства 1...
Результат для устройства 1:
>>>Неуспех. ПО было установлено, но при проверке АП возникли ошибки<<<
Результат проверки слота расширения: Внешний HDD не найден, Внутренний HDD найден
Результат проверки USB портов: По крайней мере один flash накопитель не определился, возможно, USB порты неисправны
Результат проверки Ethernet портов: 100% packet loss
