{% extends "base_generic.html" %}

{% block title %}
{% load static %}
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
<title>Стенд упаковки</title>
{% endblock %}

{% block page_name %}<div align="center">Стенд упаковки</div>{% endblock %}

{% block middle %}
<form method="post">
    {% csrf_token %}
    <div align="center">Отсканируйте серийный номер изделия</div>
    {{ form.device_serial_number }}
    {{ form.device_serial_number.errors }}
    <button type="submit" id="btn_device_package" name="submit_btn">Начать</button>
</form>

{% endblock %}